<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Shoppping Mall!!</title>
        <th:block th:replace="~{/common/include-css}"></th:block>
        <th:block th:replace="~{/common/include-js}"></th:block>
    </head>
    <body>
        <nav th:replace="~{/fragments/navigation}"></nav>
        <header th:replace="~{/fragments/header}"></header>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <th:block th:replace="${content}"></th:block>
                </div>
            </div>
        </section>
        <footer th:replace="~{/fragments/footer}"></footer>
    </body>
</th:block>
</html>